<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="REXAUTO4AND" verbose="5">
    <listeners>
        <listener class-name="Utility.TestngListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>

    <test name="20160615" preserve-order="true">
        <parameter name = "port" value = "4723"/>
        <classes>
            <class name="REXSH.REXAUTO.AppTestAccount">
            </class>
            <class name="REXSH.REXAUTO.AppTestEditProfileEducation">
            </class>
        </classes>
    </test>
</suite>